In [1]:
from db import execQuery, getQuery
import pandas as pd

df = pd.read_csv('./dataset/merged_dataset.csv', encoding='ISO-8859-1', sep=",")
df.head()

,Title,Text,Class,Subclass,Summary,Summary_Vector,Title_Vector
0,THE PORT OF CARTAGENA HOSTS THE ÂCLEAN PORT C...,This morning the port of Cartagena hosted the ...,14,98,Port of Cartagena conducted a fire drill invol...,"[-0.1056099534034729, -0.3683856725692749, -0....","[-0.1453884243965149, -0.7933762669563293, 0.5..."
1,The Port Authority of Cartagena and the Murcia...,The Port Authority of Cartagena and the Murcia...,17,98,The Port Authority of Cartagena and the Murcia...,"[-0.4873068630695343, -0.6183848977088928, 0.4...","[-0.5691564679145813, -0.4567437767982483, 0.7..."
2,Success of the IV Congress Workshop ÂOperatio...,The Port Authority of Cartagena has inaugurate...,6,59,The Port Authority of Cartagena has inaugurate...,"[0.004196979105472565, 0.026690110564231873, 0...","[-0.6941741108894348, -0.05642718821763992, 0...."
3,FERMÃN ROL TAKES POSSESSION AS GENERAL DIRECTOR.,"On September 26, the Board of Directors of the...",14,17,FermÃÂÃÂ­n Rol Rol has been appointed as th...,"[-0.4200245440006256, -0.15148505568504333, 0....","[-0.6934189796447754, -0.03213474899530411, 0...."
4,THE PRESIDENT OF THE APC RECEIVES REPRESENTATI...,"Antonio Sevilla, president of the Port Authori...",8,61,"President of the Port Authority of Cartagena, ...","[-0.5616145133972168, -0.4831480085849762, 0.6...","[-0.9587446451187134, -0.4825529158115387, 0.7..."

In [9]:
# empty table
execQuery ("TRUNCATE TABLE main2", "")
for i in range(len(df)):
    row = df.iloc[i]
    title = str(row['Title'])
    text = str(row['Text'])
    class_name = str(row['Class'])
    subclass = str(row['Subclass'])
    summary = str(row['Summary'])
    summary_vec = str(row['Summary_Vector'])
    title_vec = str(row['Title_Vector'])
    related = "1"
    sql = "INSERT INTO main2 (id, title, text, summary, class, subclass, related, title_vector, summary_vector) VALUES (%s, %s,%s,%s,%s,%s,%s,%s,%s)"
    val = (i, title, text, summary, class_name,
           subclass, related, title_vec, summary_vec)
    execQuery(sql, val)

In [2]:
float_list = [3.14, 2.718, 1.618]
# Convert each float number to a string
result_string = '[' + ', '.join(map(str, float_list)) + ']'

print(result_string)

[3.14, 2.718, 1.618]